@CHARSET "windows-1255";
.postsT{
   width: 70%;
   margin: auto;	
   border-collapse : collapse;
   border: 1px solid #999;
}
.postTitle{
	width: 100%;
	font-size:x-large;
	font:bold;
		
}
.rowP{
	width: 100%;
	
}
.pTime{
	width: 100%;
	float:left;
	font-size: x-small;
}
.commentP{
	background-color:gray;
}
.submith{
	float:right;
}
.placeholderC{
	position:relative;
}
.submith:hover{
	color:red;
	cursor:pointer;
}
.newPostHead{
	width:70%;
	margin:auto;
}
.introForum{
	width:70%;
	margin:auto;
}
